@import url("https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-gray-800;
    }
}

@layer components {
    .container {
        @apply max-w-none w-auto;
        .container {
            min-height: 100vh;
            display: grid;
            grid-template-rows: auto 1fr auto;

        }


    }
    .main {
        padding: 2rem;
    }
    footer {
        @apply py-6 px-8 bg-blue-100;
    }


}





/* Header one */

@layer components {
    header {
        @apply bg-white py-5 px-6;
    }
    ul {
        @apply text-center -mx-5 md:mx-0;
    }
    ul li {
        @apply inline-block mx-5;
    }
    .btn {
        @apply bg-blue-500 text-white py-2 px-5 rounded-full;
    }
}

/* Card Container  */
@layer base {
    body {
        @apply bg-gray-100 text-gray-800;
    }
}

@layer components {
    .container {
        @apply max-w-7xl mx-auto p-8;
    }
    h2 {
        @apply font-bold text-2xl;
    }
    .item {
        @apply bg-white rounded-lg;
    }
    .item img {
        @apply w-full h-48 object-cover rounded-t-lg;
    }
    .item > div {
        @apply p-6;
    }
    p {
        @apply mt-4 mb-3;
    }
    .anchor {
        @apply text-lg font-bold text-purple-600;
    }
    .item {
        transition-property: box-shadow, transform;
        transition-duration: 350ms;
        transition-timing-function: ease;

        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    }
    .item:is(:hover, :focus) {
        box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
        transform: translateY(-8px);
    }
    .item:is(:hover, :focus) {
        filter: grayscale(0%) drop-shadow(0 8px 8px rgba(204, 47, 47, 0.5));
    }
}
